.m-topbar .op a,
.m-popup .send,
.m-topbar a.btn3,
.m-entry .opt .cmt ,
.m-entry .opt .favor a,
.m-entry .opt .forward,
.m-topbar .op a.btn4,
.m-topbar .op a.btn5 span,
.m-popup-1 .topbar .j-close{
	background:url(../images/wgd-btn.png?0200) no-repeat 9999px 9999px;
}
.m-popup-1,.m-popup-1 textarea.txt{background:url(../images/popcomt.png?0200) no-repeat 9999px 9999px;}
.m-popup-4,.m-popup-4 .botbar ul li,.m-popup-7{background:url(../images/zfbg.png?0200) no-repeat 9999px 9999px;}
.m-chapter ul li a span{background:url(../images/bookwdg.png?0200) no-repeat 9999px 9999px;}
.m-bookshow .cover span.free,.m-bookshow .cover span.lian,.m-bookshow .cover span.xuan,.m-bookshow .cover span.dele,.m-bookshow .control .tick{background:url(../images/bookwdg.png?0200) no-repeat 9999px 9999px;}
.m-infos{background:url(../images/pop-bc.png?0200) no-repeat 9999px 9999px;}
.m-ctip h4{background:url(../images/wgd-tick.png?0200) no-repeat 9999px 9999px;}
.postcmt,.m-ops .link a{background:url(../images/wgd-detail.png?0200) no-repeat 9999px 9999px;}
.m-tags ul li,.m-buyops li,.m-sum p span.warning,.m-chapdone p span.warning{background:url(../images/bookicons.png?0201) no-repeat 9999px 9999px;}
.m-devices .icons{background:url(../images/bookdevices.png?0200) no-repeat 9999px 9999px;}

.g-mnc:after,.m-comts .title:after,.m-priceinfo .rate:after,.m-ops:after,.m-popup-4 .botbar:after,.m-popup-4 .botbar ul:after,.m-blist ul:after,.m-content:after,.m-ctbar:after,.m-summary:after,ul.bank-list:after,.m-devices ul:after{clear:both;content:'.';display:block;height:0;visibility:hidden;}
.g-mnc,.m-comts .title,.m-priceinfo .rate,.m-ops,.m-popup-4 .botbar,.m-popup-4 .botbar ul,.m-blist ul,.m-content,.m-ctbar,.m-summary,.bank-list,.m-devices ul{zoom:1;}

/* 框架 */
.g-bdw-1{margin-top:25px;}
.g-sd{width:240px;float:left;overflow:hidden;padding:0 10px 0;}
.g-mn{width:660px;padding:0 0 0 30px;float:right;}
.g-mn-1{width:960px;padding:0;border-top:#dedede solid 1px;}
.g-mn-2{width:960px;padding:0;border-top:none;}
.g-mn-3{width:auto;padding:0;float:none;border-top:#dedede solid 1px;}
.hidden{display:none;}
/* 侧栏 */
.g-sd-1{position:relative;z-index:5;width:178px;border-left:#dedede solid 1px;padding:0;overflow:visible;}
/* 二级分类 */
.m-menub,.m-menub h2,.m-menub .menubtm{width:100%;margin:0;}
.m-menub{position:relative;z-index:7;}
.m-menub h2{position:relative;height:36px;text-align:center;line-height:35px;font-size:14px;color:#666;background-position:-3px -5px;}
.m-menub li{position:relative;z-index:2;float:left;width:100%;height:36px;line-height:36px;border-bottom:#dedede solid 1px;border-right:#dedede solid 1px;}
.m-menub li a{position:relative;z-index:9;display:block;width:100%;height:36px;font-size:14px;text-align:center;color:#333;}
.m-menub li.j-crt{z-index:4;border-right:none;}
.m-menub li.j-crt a{font-weight:bold;}
.m-menub li a span{display:none;width:4px;height:36px;position:absolute;background-color:#c00;top:0;left:0;}
.m-menub li.j-crt a span{display:block;}

.m-bookcat{margin-left:240px;}
.m-bookcat .m-blist ul li{width:300px;}
/* 书籍列表 */
.m-blist ul li{float:left;width:290px;padding:35px 20px 35px 10px;border-bottom:#ebebeb solid 1px;}
.m-blist-1 ul li{float:left;width:150px;padding:35px 26px 35px 16px;border-bottom:#ebebeb solid 1px;}
/* 书籍封面 */
.m-picbox .inner{width:190px;height:270px;margin:0 auto 20px;overflow:hidden;}
.m-picbox .inner a{display:block;}

.m-conbox{padding:16px 0 0 0;border-top:#dedede solid 1px;}
.m-conbox h3{font-size:14px;line-height:14px;color:#666;}
.m-conbox .inner{margin-top:16px;}
/* 可用设备 */
.m-devices h3{font-size:14px;color:#666;padding:10px 0 20px 0;}
.m-devices ul{margin-bottom:10px;}
.m-devices ul li{float:left;margin-right:5px;}
.m-devices .icons{height:40px;}
.m-devices .and{width:54px;background-position:16px 0;}
.m-devices .iphone{width:50px;background-position:16px -60px;}
.m-devices .ipad{width:42px;background-position:8px -120px;}
.m-devices .web{width:70px;background-position:16px -180px;}
.m-devices ul li span{display:block;text-align:center;color:#999;}
/* 章节 */
.m-showcont li{font-size:14px;line-height:24px;color:#666;}
.m-showcont li.hide{display:none;}

/* 评论部分样式 */
.postcmt{display:inline-block;padding:5px 15px 5px 35px;border:#bfbfbf solid 1px;background-color:#f8f8f8;background-position:13px 5px;}
.m-comts{margin-top:20px;}
.m-comts ul li{margin:18px 0 15px;padding-bottom:10px;border-bottom:#e5e5e5 dashed 1px;}
.m-comts ul li p{word-wrap:break-word;}
.m-comts .title h4,.m-comts .title span{height:18px;line-height:18px;}
.m-comts .title h4{color:#069;width:120px;overflow:hidden;float:left;}
.m-comts .title span{float:right;color:#999;}
.m-comts .w-star{margin:5px 0 2px 0;}

/* 订阅源分页*/
.m-conbox .m-page-1{margin:10px 0;text-align:center;}
.m-conbox .m-page-1 a{padding:3px 3px;color:#999;}
.m-conbox .m-page-1 a.go{padding:3px 10px;}
.m-conbox .m-page-1 a.j-crt{font-weight:bold;color:#333;}

/* 书籍列表 */
.m-conbox .m-bookele{margin:0 0 30px 0;}

/* 书籍名称价格信息 */
.m-bookinfo{padding:0 0 16px 0;border-bottom:#bcbcbc dashed 1px;}
.m-bookinfo h2{height:18px;line-height:18px;margin:0 0 14px 0;overflow:hidden;font-size:16px;color:#2b2b2b;}
.m-bookinfo .btb{float:right;text-decoration:underline;font-size:14px;}
.m-bookinfo p{height:26px;line-height:26px;font-size:14px;color:#999;}
.m-bookinfo p span{margin:0 38px 0 0;}
.m-priceinfo{padding-top:18px;}
.m-priceinfo p{font-size:14px;color:#999;line-height:30px;}
.m-priceinfo p em{color:#d24130;font-size:16px;font-weight:bold;}
.m-priceinfo p span.small{font-size:12px;}
.m-priceinfo .rate p,.m-priceinfo .rate .w-star{float:left;}
.m-priceinfo .rate .w-star{margin:7px 8px 0 14px}
.m-priceinfo .rate p.num{font-size:12px;}
.m-priceinfo .rate p.num a{color:#bd6561;}

/* 购买链接 */
.m-ops{margin-top:12px;}
.m-ops .btn{float:left;position:relative;}
.m-ops .btn a{display:inline-block;width:86px;margin:0 10px 0 0;height:26px;line-height:26px;text-align:center;font-size:14px;}
.m-ops .btn a.btn01,.m-ops .btn a.btn06{background-color:#ef710b;border:#c85a01 solid 1px;color:#fff;}
.m-ops .btn a.btn02{background-color:#d34030;border:#b62d1d solid 1px;color:#fff;}
.m-ops .btn a.btn03{background-color:#f8f8f8;border:#bfbfbf solid 1px;color:#999;}
.m-ops .btn a.btn04,.m-ops .btn a.s2{background-color:#eee;border:#dadada solid 1px;color:#a4a4a4;}
.m-ops .btn a.btn05{color:#be6362}
.m-ops .btn a.btn06{text-align:left;background:url(../images/bookarror.png?0200) 55px 6px no-repeat #ef710b;}
.m-ops .btn a.btn07{width:105px;}
.m-ops .link{float:right;margin-top:10px;}
.m-ops .link a{color:#bf6161;padding:0 0 0 15px;margin:0 0 0 20px;}
.m-ops .link a.link01{background-position:0 -38px;}
.m-ops .link a.link02{background-position:0 -78px;}
.m-ops .link a.link03{background-position:0 -106px;}

.m-buyops{position:absolute;top:27px;width:86px;border:#c85a00 solid 1px;background-color:#fff;overflow:hidden;}
.m-buyops li{padding-left:10px;}
.m-buyops li.way01{background-position:8px -192px;}
.m-buyops li.way02{background-position:4px -55px;}
.m-buyops li a{font-size:12px!important;color:#d2402f;}
/* 书籍介绍 */
.m-introbox{margin-top:40px;}
.m-introbox h3{height:26px;line-height:26px;font-size:14px;padding:0 0 0 10px;margin:0 0 6px 0;color:#666;background-color:#f4f4f4;}
.m-introbox h3.h01{margin-bottom:16px;}
.m-introbox h4{font-size:16px;color:#000;}
.m-introbox p{font-size:14px;line-height:24px;text-indent:2em;color:#2b2b2b;}
.m-introbox h4 span{margin-left:10px;font-size:14px;color:#999;font-weight:normal;}
.m-introbox .warning-tip{color:#666;font-size:12px;margin-top:19px;background-color:#fff9ea;border:#fef4da solid 1px;}
.m-article{margin:15px 0 0 0;padding:0 0 30px 0;border-bottom:#bcbcbc dashed 1px;}
.m-article .oc{color:#bd6261;}

/* 书籍目录 */
.j-ct-h{display:none;}
.m-volume{padding-top:6px;}
.m-volume h4{margin:12px 0;font-size:16px;background-color:none;}
.m-volume h4 b{display:block;float:left;margin:4px 5px 0 0;width:3px;height:16px;background-color:#cc0000;}
.m-chapter ul li{position:relative;height:39px;line-height:39px;overflow:hidden;border-bottom:#bcbcbc dashed 1px;}
.m-chapter ul li a{font-size:14px;color:#2a2a2a;}
.m-chapter ul li a.buy{color:#999;}
.m-chapter ul li a span{display:inline-block;width:21px;padding-left:3px;text-indent:-9999px;background-position:3px -125px;}
.m-chapter ul li .left{width:310px;padding-left:20px;float:left;overflow:hidden;}
.m-chapter ul li .right{width:310px;padding-left:20px;float:right;overflow:hidden;}
.m-content a.sb{display:block;float:left;margin:20px 0 0 25px;color:#BE6362;}

/* 书架 */
/* 控制按钮 */
.m-ctbar{padding:11px 0;}
.m-ctbar a{padding:5px 10px;float:left;margin-right:10px;}
.m-ctbar a.btn01{border:#b62d1d solid 1px;background-color:#d2402f;color:#fff;}
.m-ctbar a.btn02{border:#bfbfbf solid 1px;background-color:#f8f8f8;color:#666;}
.m-ctbar a.btn03{color:#bf6261;}
.m-ctbar a.fr{float:right;}

.m-ctbar-1 .btn01{float:right;}
.m-ctbar-1 .btn02{float:right;}
.m-ctbar-1 .btn04{font-size:14px;color:#fff;background-color:#bababa;}
.m-ctbar-1 .btn05{font-size:14px;color:#666;background-color:#f4f4f4;}
.m-ctbar-1 .sep{display:block;float:left;color:#b2b2b2;margin:5px 5px 0px 0px;}
/* 书架书单元 */
.m-bookshow{position:relative;width:150px;}
.m-infos{position:absolute;top:0;left:150px;padding:20px 15px 20px 35px;width:260px;height:150px;background-position:0 0;}
.m-infos h4{height:48px;line-height:24px;overflow:hidden;font-size:14px;}
.m-infos p{height:24px;line-height:24px;overflow:hidden;color:#2b2b2b;}
.m-infos .w-star{margin:5px 0;}

.m-bookshow .cover{width:136px;height:190px;margin:0 auto;position:relative}
.m-bookshow .cover a{display:block;width:100%;height:100%;}
.m-bookshow .cover a img{width:136px;height:190px;}
.m-bookshow .cover span.free{display:none;position:absolute;top:-10px;right:-10px;width:24px;height:24px;background-position:0 0;}
.m-bookshow .cover span.lian{display:none;position:absolute;top:-2px;left:105px;width:32px;height:35px;background-position:0 -30px;}
.m-bookshow .cover span.xuan{display:none;position:absolute;top:-2px;left:105px;width:32px;height:35px;background-position:0 -80px;}
.m-bookshow .cover span.dele{display:none;position:absolute;top:-2px;left:105px;width:32px;height:35px;background-position:0 -259px;}
.m-bookshow .cover-f span.free{display:block;}
.m-bookshow .cover-l span.lian{display:block;}
.m-bookshow .cover-x span.xuan{display:block;}
.m-bookshow .cover-s span.dele{display:block;}
.m-bookshow .bullet{height:16px;line-height:16px;margin-top:5px;padding:0 0 0 3px;-moz-user-select: none;-webkit-user-select: none;cursor:default;}
.m-bookshow .bullet span{font-size:16px;color:#e5e5e5;margin:0 2px;}
.m-bookshow .bullet span.read{color:#ce9695;}
.m-bookshow .ops{height:28px;padding:10px 0 0 0;text-align:center;}
.m-bookshow .ops a{margin-right:3px;margin-top:4px;color:#a3a3a3;}
.m-bookshow .ops a.btn{padding:6px 8px;margin:0 10px 0 20px;_margin-left:10px;border:#bfbfbf solid 1px;color:#666;background-color:#f8f8f8;text-align:center;font-size:12px;line-height:12px;}

.m-bookshow .control{position:absolute;top:-2px;;left:0;width:150px;height:195px;}
.m-bookshow .control .tick{display:block;width:24px;height:24px;float:left;}
.m-bookshow .control .tick-o{background-position:0 -180px;}
.m-bookshow .control .tick-x{background-position:0 -220px;}
.m-bookshow .control .mask{display:block;width:140px;height:195px;margin:0 auto;background-color:white;opacity:0;filter:alpha(opacity=0);}

.m-bookshow .shan{position:absolute;top:-2px;left:6px;width:138px;height:195px;display:block;margin:0 auto;background-color:#666;opacity:0.5;filter:alpha(opacity=50);}

.m-shelfempty{padding:100px 100px;}
.m-shelfempty h2{font-size:28px;color:#666;text-align:center;}
.m-shelfempty p{text-align:center;font-size:14px;color:#666;margin:20px 0;}
.m-shelfempty .gobtn{display:inline-block;padding:4px 10px;font-size:12px;background-color:#d2402f;border:#b62d1d solid 1px;color:#fff;}
.m-shelfempty .picholder{width:500px;height:340px;margin:0 auto;background:url(../images/bookempty.jpg?0200) 0 0 no-repeat;}
/* 切换标签 */
.m-tags{float:left;width:118px;z-index:1000;}
.m-tags ul li{height:40px;padding-left:40px;background-color:#f4f4f4;color:#333;font-size:14px;line-height:40px;}
.m-tags ul li.grzx{background-position:14px 7px;}
.m-tags ul li.yecx{background-position:14px -172px;}
.m-tags ul li.xfjl{background-position:14px -239px;}
.m-tags ul li.zddy{background-position:14px -306px;}
.m-tags ul li.wdsd{background-position:12px -396px}
.m-tags ul li.gsjl{background-position:14px -105px;}
.m-tags ul li a{display:block;}
.m-tags ul li.crt{border:#ccc solid 1px;background-color:#fff;padding-right:1px;margin-right:-1px;border-right:#fff solid 1px;}
.m-tags ul li.ul{border-bottom:#e7e7e7 solid 1px;}
/*我的书单*/
.m-bookcart{float:right;width:800px;padding:10px 20px;border:#ccc solid 1px;}
.m-bookcart table{width:100%;}
.m-bookcart thead tr{border-bottom:#ebebeb solid 1px;}
.m-bookcart thead tr th{height:40px;line-height:40px;font-size:14px;color:#999;text-align:center;}
.m-bookcart thead tr th a{color:#999;}
.m-bookcart td{padding:15px 12px;text-align:center;font-size:14px;color:#666;}
.m-bookcart tbody tr{border-bottom: #ebebeb solid 1px;}
.m-bookcart tbody tr.bt{border-bottom: none;}
.m-bookcart tbody tr.bt a{color: #c06263;}
.m-bookcart tbody td.s-title{text-align:left;}
.m-bookcart tbody td.s-chap{padding:20px 22px;_padding:20px 0;}
.m-bookcart tbody td.s-chap a{display:block;height:24px;line-height:24px;color:#666;}
.m-bookcart tbody td.s-chap span{display:inline-block;height:24px;line-height:24px;}
.m-bookcart tbody td.s-chap a.j-changechap{font-size:12px;background-color:#f8f8f8;border:#bfbfbf solid 1px;}
.m-bookcart tbody td.s-price,.m-bookcart tbody td.s-del{_padding:20px 0;}
.m-bookcart tbody td.s-del a.delbtn{color: #d24130;}
.m-bookcart .tip,.m-myorder .tip{padding:170px 0 170px 250px;background:url(../images/alert.png?0200) 182px 172px no-repeat;}
.m-bookcart .tip p,.m-myorder .tip p{font-size:14px;color:#2b2b2b;line-height:24px;}
.m-bookcart .tip p a,.m-myorder .tip p a{color:#c16163;font-weight:bold;}
.m-bookcart .selectall{margin-right:5px;vertical-align:text-bottom; margin-bottom:2px;*margin-bottom:-2px;}
/* 我的书单页面下面的书籍信息修改 */
.m-bookcart .m-bookele .t-info p{margin-bottom: 20px;}
.m-bookcart .m-bookele .t-info h3, .m-bookele .t-info h3 a{height: auto;max-height: 54px;}
/* 计算部分的样式 */
.m-sum,.m-chapdone{float:right;clear:both;text-align:left;padding-top:30px;}
.m-sum{padding-top: 20px;}
.m-sum p,.m-chapdone p{line-height:30px;font-size:14px;color:#999;}
.m-sum p.bt,.m-chapdone p.bt{margin: 5px 0;}
.m-sum p em,.m-chapdone p em{color: #666;}
.m-sum p span{color:#d2402f;padding:0 5px;}
.m-sum p span.warning,.m-sum p span.getcoin,.m-chapdone p span.warning,.m-chapdone p span.getcoin{font-size: 14px;}
.m-sum p span.warning,.m-chapdone p span.warning{padding-left: 32px;background-position: 14px -494px}
.m-sum p span.getcoin a,.m-chapdone p span.getcoin a{color: #6699cc;}
.m-sum a.gocancel,.m-sum a.gopay,.m-sum a.gopay-1,.m-pbtn a{display:inline-block;width:88px;height:24px;line-height:24px;font-size:12px;border:#b62d1d solid 1px;background-color:#d2402f;color:#fff;text-align:center;}
.m-sum a.gocancel{background-color: #f8f8f8;border:#bfbfbf solid 1px;color: #999;margin-left: 13px;}
.m-sum a.gopay-1{background-color: #999;border:#868686 solid 1px;color: #fff;cursor: not-allowed;}
/* 已经购买书籍 */
.m-myorder{float:right;width:800px;padding:10px 20px;border:#ccc solid 1px;}
.m-myorder table{width:100%;}
.m-myorder colgroup col.book{width:310px;}
.m-myorder colgroup col.amount{width:127px;}
.m-myorder colgroup col.trade-status{width:127px;}
.m-myorder colgroup col.operate{width:127px;}
.m-myorder thead th{height:24px;line-height:24px;color:#666;font-size:14px;text-align:center;}
.m-myorder thead th.trade-status select{font-size:14px;color:#666;}
.m-myorder tbody tr.sep-row td{height:20px;}
.m-myorder tbody tr.order-hd{background-color:#f9f9f9;}
.m-myorder tbody tr.order-hd td{height:36px;line-height:36px;border:#ebebeb solid 1px;border-bottom:none;}
.m-myorder tbody tr.order-hd td span{padding-left:35px;color:#999;}
.m-myorder tbody tr.order-bd td{border:#ebebeb solid 1px;padding:20px 12px;_padding:20px 0;vertical-align:top;text-align:center;}
.m-myorder tbody tr.order-bd td.book{border-right:none;_padding-left:12px;}
.m-myorder tbody tr.order-bd td.price{border-left:none;vertical-align:middle;font-size:14px;color:#666;}
.m-myorder tbody tr.order-bd td.price a{color:#666;}
.m-myorder tbody tr.order-bd td.price a:hover{text-decoration:underline;}
.m-myorder tbody tr.order-bd td.amount{font-size:14px;color:#333;font-weight:bold;}
.m-myorder tbody tr.order-bd td.trade-status,.m-myorder tbody tr.order-bd td.operate{padding:20px 30px;_padding:20px 0px;}
.m-myorder tbody a.opbtn{display:block;font-size:14px;height:24px;line-height:24px;_width:60px;}
.m-myorder tbody a.detail,.m-myorder tbody a.share,.m-myorder tbody a.cancel,.m-myorder tbody a.delete{color:#bf6261;}
.m-myorder tbody a.pay{background-color:#d2402f;border:#b62d1d solid 1px;color:#fff;}
.m-myorder tbody a.closed{color:#999;}
.m-bpagin{clear:both;padding-top:5px;z-index:1010;}
.m-bpagin .m-page{margin:10px 0;text-align:right;}

/* 订单确认页面 */
.m-confirmhead{margin:20px 0;font-size:14px;color:#666;font-weight: normal;}
.m-tbox{margin-bottom:25px;padding:15px 25px;background-color:#fffeee;border:#e4d6c7 solid 1px;}
.m-tbox h4{font-size:14px;color:#333;}
.m-tbox p{font-size:14px;color:#666;}
.m-tbox p a{color:#bf6261;}
.m-order{}
.m-order table{width:100%;text-align: center;}
.m-order table td,.m-order table td a,.m-order table th{font-size: 14px;color: #999;}
.m-order table thead tr th,.m-order table tbody tr td{border-right:1px solid #ebebeb;padding:15px 0;border-bottom:#ebebeb solid 1px;}
.m-order table thead tr th{text-align:center;background-color: #f9f9f9;border-top: 1px solid #ebebeb;}
.m-order table .aside{border-right: none;}
.m-order .book{padding-left:15px;}
.m-order .price{padding-left:15px;}
.m-order .price em{color:#d2402f;font-weight:bold;}

.m-agreement{float:left;}
.m-agreement p{text-align: left;}
.m-agreement p em{font-weight:bold;}
.m-agreement .content{width:456px;height:150px;overflow:auto;border:#c5c5c5 solid 1px;}
.m-agreement .content h4{font-size:16px;text-align:center;}
.m-agreement .content p{margin-bottom:24px;line-height:24px;color:#666;}
.m-agreement .content p a{text-decoration:underline;}
.m-agreement input{vertical-align:text-bottom; margin-bottom:2px;*margin-bottom:-2px;}
.m-agreement label{margin-left:10px;color:#666;}
.m-agreement label a{color:#999;}
/* 新订右侧页面 */
.m-bookcart-1{padding: 20px;}
.m-bookcart-1 table td,.m-bookcart-1 table th{border-right: #ebebeb solid 1px;}
.m-bookcart-1 thead tr{background-color: #f9f9f9;}
.m-bookcart-1 thead tr th{height: 48px;border-top: #ebebeb solid 1px;}
.m-bookcart-1 td.side,.m-bookcart-1 th.side{border-right:none;}
.m-bookcart-1 td,.m-bookcart-1 td a{color: #999;}

.m-bookcart-1 hr{border:none;height: 0;border-top: #ebebeb solid 1px;}
.m-bookcart-1 .hint span,.m-bookcart-1 .hint a{color: #d62528;}
.m-bookcart-1 .hint p{margin:12px 0;font-size: 14px;line-height: 24px;color: #666;}
.m-bookcart-1 .hint-1 p{margin-top: 0;}
.m-bookcart-1 .hint-2 p{text-align: right;color: #999;}
.m-bookcart-1 .hint-3 p{text-align: right;color: #666;}
.m-bookcart-1 .hint select{font-size: 14px;color: #999;line-height: 24px;}
.m-bookcart-1 td.name a,.m-bookcart-1 td.ops a{color:#c06263;}
.m-bookcart-1 td.items{text-align: left;}
.m-bookcart-1 td.items input{text-align: left;vertical-align:text-bottom; margin-bottom:2px;*margin-bottom:-2px;margin-right: 12px;}

.m-nr .m-page{margin: 10px 0;}

/* 订单状态页面 */
.m-statebox{padding:30px 35px;border:#e4d6c7 solid 1px;background-color:#fffeee;}
.m-statebox h2{font-size:18px;color:#2b2b2b;margin-bottom:10px;}
.m-statebox ol li{list-style:decimal;margin-left:20px;font-size:14px;height:24px;line-height:24px;color:#666;}
.m-statebox p{font-size:14px;height:24px;line-height:24px;color:#666;}
.m-statebox ol li a,.m-statebox p a{color:#bf6261;}

.m-orderinfo{margin-top:60px;}
.m-orderinfo h3{font-size:14px;color:#666;font-weight:bold;}
.m-orderinfo p{color:#999;height:24px;line-height:24px;}
.m-ordertable{width:100%;margin:20px 0;}
.m-ordertable thead{background-color:#f9f9f9;border:#dbdbdb solid 1px;border-bottom:none;}
.m-ordertable thead th{height:36px;line-height:36px;text-align:center;font-size:14px;color:#666;}
.m-ordertable tbody td{padding:20px 12px;text-align:center;border:#dbdbdb solid 1px;font-size:14px;}
.m-ordertable tbody td.book{border-right:none;}
.m-ordertable tbody td.price{border-left:none;}
/* 章节选择浮层 */
.m-mask{position:absolute;top:0;left:0;width:100%;z-index:5000;background-color:#aaa;opacity:0.5;filter:alpha(opacity=50);}
.m-chapters{position:absolute;top:80px;left:0;width:650px;background-color:#fff;border-radius:5px;}
.m-chapters table{width:100%;font-size:12px;color:#666;text-align:center;}
.m-chapters .m-fullcon{padding: 20px;}
.m-chapters .m-headtop{height: 59px;background-color: #f4f4f4;border-bottom: #dedede solid 1px;border-top-left-radius:5px;border-top-right-radius: 5px;}
.m-chapters .m-headtop h3{line-height: 59px;font-size: 16px;padding-left: 20px;color: #666;}
.m-chapters .m-headtop h3 .w-close{margin: 15px 15px 0 0;}
.m-chapters table thead tr th{height:40px;line-height:40px;text-align:center;color:#666;font-size: 14px;}
.m-chapters table tbody tr td{height:48px;line-height:48px;border-bottom:#e7e7e7 solid 1px;}
.m-chapters td.cpt{padding-left:10px;}
.m-chapters td.cpt-1{padding-left:25px;}
.m-chapters td.cpt span{display:block;height:48px;overflow:hidden;text-align:left;}
.m-chapters td.amount{color:#d2402f;}
.m-chapters td.section-title{background-color:#ebebeb;}
.m-chapters td.section-title-1,.m-chapters td.section-title-2{text-align:left;color:#666;font-size:14px;}
.m-chapters td.section-title-2{padding-left:10px;}
.m-chapdone{position:relative;padding:15px 0;}
.m-chapdone p a.btn{display:inline-block;width:70px;height:24px;line-height:24px;border:#bfbfbf solid 1px;background-color:#f8f8f8;font-size:12px;color:#666;text-align:center;}
.m-chapdone p a.ok{margin-right:20px;border:#B62D1D solid 1px;background-color:#D2402F;color:#fff}
.m-chapdone p a.ok-1{margin-right:20px;background-color: #999;border:#868686 solid 1px;color: #fff;cursor: not-allowed;}
.j-capall,.j-capopp{cursor:pointer;}
.j-chaptatol{color:#D2402F;margin-right: 5px;}
.m-innertable tr{background-color: #f1f1f1;}
.m-innertable tr td input.ccb{margin-left: 25px;}
.m-autosub{clear: both;padding:20px 0;border-top: #dedede solid 1px;}
.m-autosub p{text-align: center;}
.m-autosub p input{vertical-align:text-bottom; margin-bottom:2px;*margin-bottom:-2px;margin-right: 5px;}
.m-autosub p label{font-size: 14px;color: #666;}
.m-autosub p span{color: #999;}
/* 充值页面 */
.m-moneyinfo p{font-size: 14px;line-height: 28px;color: #666;}
.m-moneyinfo p .s1,.m-moneyinfo p .s3{color: #999;}
.m-moneyinfo p .s2{font-size:16px;color: #d24130;}

.m-rbox{position:relative;padding:18px;margin:20px 0;background-color: #f9f9f9;}
.m-rbox .text{position: absolute;top:25px;left: 85px;color: #666;font-size: 14px;}
.m-money{margin-left: 140px;}
.m-money p{font-size: 14px;color: #999;line-height: 32px;}
.m-money p input[type*="radio"]{vertical-align:text-bottom; margin-bottom:2px;*margin-bottom:-2px;margin-right: 8px;}
.m-money p input.optional{display: inline-block;margin:0 6px;padding:0 5px;width: 105px;height: 20px;background: none;border: #d9d9d9 solid 1px;color:#999;}
.m-money p span{margin-right: 30px;}
.m-money p span.tips{margin-left: 10px;color: #D24130;font-size: 12px;}

.m-sum-1{float: none;}
.m-sum-1 p{text-align: right;}
.m-sum-1 .m-agreement p{text-align: left;}
/* 付款页面 */
.m-paybox{padding:20px;border:#dedede solid 1px;}
.m-paybox h2{font-size:18px;color:#2b2b2b;}
.m-paybox p{color:#666;font-size:14px;}
.m-paybox p em{color:#d2402f}
.m-banks{padding:20px;margin-top:30px;background-color:#f4f4f4;}
.m-banks p{font-size:14px;line-height:24px;}
.bank-list{margin:10px 0 20px;}
.bank-list li {clear:none;display:block;float:left;line-height:34px;padding-bottom:5px;position:relative;width:205px;}
.bank-list li input{vertical-align:middle;}
.bank-list .sandh{position:relative;padding-right:16px;color:#bf6261;}
.open-banks .cusp, .close-banks .cusp {
    border-color: #BA2636 #FFFFFF #FFFFFF;
    border-right: 5px solid #FFFFFF;
    border-style: solid;
    border-width: 5px 5px 0;
    height: 0;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 5px;
    width: 0;
	_display:none;
}
.close-banks .cusp {
    border-bottom-color: #BA2636;
    border-width: 0 5px 5px;
}
.other-banks {
    border-top: 1px dashed #D9D9D9;
}

.bank_img{background: url("../images/bank_logo.png?0200") no-repeat scroll 0 0 transparent;border: 1px solid #D9D9D9;cursor: pointer;display: inline-block;height: 35px;margin: 1px 0 1px 3px;vertical-align: middle;width: 132px;}
.bank-list li.active .bank_img {
    border: 1px solid #BA2636;
}
.bank_0001, .bank_0026, .bank_0042, .bank_0051, .bank_0071 {
    background-position: 0 0;
}
.bank_0002, .bank_0027, .bank_0062 {
    background-position: 0 -36px;
}
.bank_0003, .bank_0031, .bank_0039, .bank_0040, .bank_0067 {
    background-position: 0 -72px;
}
.bank_0004, .bank_0028, .bank_0041, .bank_0061, .bank_0052 {
    background-position: 0 -108px;
}
.bank_0005, .bank_0068 {
    background-position: 0 -144px;
}
.bank_0006 {
    background-position: 0 -180px;
}
.bank_0007, .bank_0046, .bank_0053, .bank_0066 {
    background-position: 0 -216px;
}
.bank_0008, .bank_0025, .bank_0048, .bank_0064 {
    background-position: 0 -252px;
}
.bank_0009, .bank_0044, .bank_0049, .bank_0060 {
    background-position: 0 -288px;
}
.bank_0010, .bank_0065 {
    background-position: 0 -324px;
}
.bank_0011, .bank_0030, .bank_0047, .bank_0050, .bank_0070 {
    background-position: 0 -360px;
}
.bank_0012, .bank_0029 {
    background-position: 0 -396px;
}
.bank_0013, .bank_0045, .bank_0056, .bank_0069 {
    background-position: 0 -432px;
}
.bank_0014, .bank_0043, .bank_0059 {
    background-position: 0 -468px;
}
.bank_0015 {
    background-position: 0 -504px;
}
.bank_0016 {
    background-position: -132px 0;
}
.bank_0017 {
    background-position: -132px -36px;
}
.bank_0018 {
    background-position: -132px -72px;
}
.bank_0019 {
    background-position: -132px -108px;
}
.bank_0020 {
    background-position: -132px -144px;
}
.bank_0021, .bank_0057 {
    background-position: -132px -180px;
}
.bank_0022, .bank_0054, .bank_0058 {
    background-position: -132px -216px;
}
.bank_0023, .bank_0072 {
    background-position: -132px -432px;
}
.bank_0024, .bank_0038 {
    background-position: -132px -468px;
}
.bank_0032 {
    background-position: -132px -252px;
}
.bank_0033 {
    background-position: -132px -288px;
}
.bank_0034 {
    background-position: -132px -324px;
}
.bank_0035, .bank_0063 {
    background-position: -132px -360px;
}
.bank_0036 {
    background-position: -132px -396px;
}
.bank_0037 {
    background-position: -132px -504px;
}
.bank_0055 {
    background-position: -132px -541px;
}
.bank_wyb {
    background-position: -132px -577px;
}
/* 完成页面 */
.m-ctip{border:#dedede solid 1px;margin:40px 0 35px;padding:35px 0;}
.m-ctip h4{height:60px;line-height:24px;padding-left:365px;font-size:14px;background-position:300px 0;}
.m-ctip h4 span{font-size:12px;font-weight:normal;}
.m-ctip p{padding-left:365px;font-size:14px;color:#666;}

.m-summary{padding:12px 20px;background-color:#f4f4f4;}
.m-summary h4{float:left;color:#666;}
.m-summary span{float:right;color:#999;}
.m-summary span em{color:#000;font-weight:bold;}
.m-summary span strong{color:#d2402f;}
/* 浮层 */
.m-popup{position:absolute;top:0;left:0;overflow:hidden;z-index:1001;}
.m-popup .inner{position:relative;}
/* 源评论弹窗 */
.m-popup-1{width:480px;height:160px;padding:10px 20px 10px 15px;color:#333;border:#dedede solid 1px;background:#f4f4f4;box-shadow:1px 1px 4px #8c8c8c}
.m-popup-1-p8{background-position:0 0;}
.m-popup-1 .topbar{height:24px;margin-bottom:5px;}
.m-popup-1 .topbar h5{float:left;height:20px;line-height:20px;margin-right:13px;color:#666;font-size:14px;font-weight:normal;}
.m-popup-1 .topbar .w-star{float:left;margin-top:2px;}
.m-popup-1 .topbar .j-close{float:right;width:12px;height:12px;background-position:-103px -456px;}
.m-popup-1 textarea.txt{width:458px;height:72px;padding:10px;border:#d9d9d9 solid 1px;overflow:auto;background:#fff;resize:none;}
.m-popup-1 textarea.blur{}
.m-popup-1 textarea.focus{border:#a0b2c5 solid 2px; width:456px; height:70px;}

.m-popup a.send{float:right;width:78px;height:23px;line-height:23px;text-align:center;}
.m-popup a.send:hover{text-decoration:none;}
.m-popup a.disable{color:#b8b8b8; border:#dedede solid 1px;}
.m-popup a.enable{color:#666; border:#bfbfbf solid 1px;}
.m-popup-1 a.send{position:absolute;top:133px;right:0;_right:20px;}

/* 文章转发弹窗 */
.m-popup-4{width:464px;height:137px;overflow:hidden;padding:9px 9px 14px 13px;background-position:-4px -3px;text-align:left;box-shadow:1px 1px 2px #969696;background-color:#fff;}
.m-popup-4 .topbar{height:14px;}
.m-popup-4 .topbar h5{float:left;font-weight:normal;}
.m-popup-4 .topbar .wrap,.m-popup-4 .topbar .j-close{float:right;}
.m-popup-4 .topbar .j-close{width:12px;height:12px;margin:0 2px 0 18px;}
.m-popup-4 .topbar .wrap{color:#666;}

.m-popup-4 textarea{width:450px;height:69px;margin-top:8px;padding:5px;line-height:20px;border:0;background:none;overflow:auto;resize:none;}
.m-popup-4 .botbar{margin-top:10px;}
.m-popup-4 .botbar .zf{float:left;padding-top:6px}
.m-popup-4 .botbar ul{float:none;padding-top:6px;}
.m-popup-4 .botbar ul li{position:relative;float:left;width:32px;height:16px;line-height:16px;margin-right:12px;}
.m-popup-4 .botbar ul li.sns1{background-position:-196px -210px;}
.m-popup-4 .botbar ul li.sns2{background-position:-37px -210px;}
.m-popup-4 .botbar ul li.sns3{background-position:-356px -210px;}
.m-popup-4 .botbar ul li.sns4{background-position:-143px -210px;}
.m-popup-4 .botbar ul li.sns5{background-position:-303px -210px;}
.m-popup-4 .botbar ul li.sns6{background-position:-90px -210px;}
.m-popup-4 .botbar ul li.sns7{background-position:16px -210px;}
.m-popup-4 .botbar li.dis .mask{position:absolute;width:16px;height:16px;background-color:#e0e0e0;top:0;left:16px;opacity:0.6;filter:alpha(opacity=60);}
.m-popup-4 .botbar input{width:13px;height:13px;line-height:13px;padding-top:1px;}
.m-popup-4 .botbar .send{text-indent:-9999px;margin-top:-25px;_margin-top:-22px;}

.m-popup-5{width:477px;background-color:#fff;}
.m-popup-5 h2{position:relative;height:38px;line-height:38px;padding-left:24px;font-size:16px;color:#333;border-bottom:#dedede solid 1px;background-color:#f4f4f4;}
.m-popup-5 h2 a{position:absolute;width:24px;height:24px;top:6px;right:8px;background:url(../images/closex.png?0200) 0 0;}
.m-popup-5 .backinfo{padding:22px;background:url(../images/wgd-tick-s.png?0200) 16px 26px no-repeat;}
.m-popup-5 .backinfo p{line-height:24px;padding-left:38px;}
.m-popup-5 .backinfo h5{line-height:24px;padding-left:38px;margin-bottom:30px;}
.m-popup-5 .backinfo .btn{display:inline-block;height:26px;line-height:26px;background-color:#f8f8f8;border:#bfbfbf solid 1px;color:#666;padding:0 10px;margin-right:16px;}

.m-popup-7{width:330px;height:31px;background-position:0 -240px;top:88px;left:0;}
.m-popup-7 p{float:left;height:31px;line-height:31px;padding-left:34px;text-align:left;}
.m-popup-7 p a{color:#bf6261;font-weight:bold;}
.m-popup-7 a.j-close-1{width:14px;height:14px;float:right;margin:9px 10px 0 0;}

.m-popup-wb{width:350px;height:160px;background-color:#fff;}
.m-popup-wb h3{padding-left:20px;height:36px;line-height:36px;color:#333;font-size:16px;background-color:#f4f4f4;border-bottom:#dedede solid 1px;}
.m-popup-wb h3 .j-close{display:block;width:24px;height:24px;float:right;background:url(../images/closex.png) 0 0 no-repeat;margin:5px 5px 0 0;_position:absolute;_top:5px;_right: 5px;}
.m-popup-wb .inner{padding:15px;}
.m-popup-wb .inner p{font-size:16px;color:#999;text-align:center;padding:15px 0 30px;}
.m-popup-wb .inner .bt a{display:block;width:70px;height:24px;margin-left:13px;line-height:24px;float:right;text-align:center;}
.m-popup-wb .inner .bt a.ok{background-color:#d24130;border:#b82c1d solid 1px;color:#fff;}
.m-popup-wb .inner .bt a.cancelbtn{background-color:#f8f8f8;border:#bfbfbf solid 1px;color:#999;}