/* 重置&默认(reset&base)(tags) */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {margin: 0;padding: 0;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset, img {border: medium none;}
address, caption, cite, code, dfn, em, th, var {font-style: normal;font-weight: normal;}
li {list-style: none outside none;}
caption, th {text-align: left;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight:bold;}
q:before, q:after {content: "";}
abbr, acronym {border: medium none;font-variant: normal;}
i{font-style: normal;}
sup{vertical-align: text-top;}
sub{vertical-align: text-bottom;}
input, button, textarea, select {font-family: inherit;font-size: inherit;font-weight: inherit;outline: medium none;}
del, ins{text-decoration: line-through;}
small{font-size: 100%;}
body:first-of-type {position: relative;}
html{overflow-y:auto;}
body, button, input, select, textarea {font: 12px/1.5 Tahoma,simsun,arial,宋体;}
table{font-size: inherit;}
body,legend {color: #333333;}
del{text-decoration: line-through;}
a,button{cursor:pointer;}
a{text-decoration:none;color:#333;}
body{background-color:#f7f7f7;}


.m-topsec:after,ul.m-list li .title:after,.m-zw .inner ul:after{clear:both;content:'.';display:block;height:0;visibility:hidden;}
.m-topsec,ul.m-list li .title,.m-zw .inner ul{zoom:1;}

.w-star span{background:url(../images/sprite2.png?0000) no-repeat 9999px 9999px;}
.m-banner a.down,.m-banner a.closeit,.m-bottom .godown{background:url(../images/mobi-icon.png?0000) no-repeat 9999px 9999px;}

/* 源评论 */
.m-topsec{padding:1em;}
.m-topsec .img{float:left;}
.m-topsec .img img{vertical-align:top;}
.m-topsec .info{float:left;padding-left:1em;}
.m-topsec .info h1{font-size:1.2em;line-height:1.5em;}
.m-topsec .info p{font-size:1.2em;line-height:1.5em;color:#7c7c7c;}
.m-topsec .info p span{color:#999;font-weight:bold;}
.m-topsec .info p.sub{font-size:1em;color:#aaa;}
.m-topsec .info p.sub span{padding-left:1em;}
.m-topsec .info p.link a{color:#d34030;}

/* 书 */
.m-tinfo{width:100%;}
.m-tinfo tr td{vertical-align:top;color:#7d7d7d;}
.m-tinfo tr td a{color:#d3402e;}

.m-inner h3{padding-left:1em;font-size:1.2em;line-height:1.5em;background-color:#dedede;color:#666;font-weight:normal;}
.m-inner p{font-size:1em;}
.m-inner p.intro{padding:1em;line-height:2em;}
.m-inner p.intro-1{padding:0.8em 1em;line-height:1em;}

ul.m-list li{padding:1em;border-bottom:#dedede solid 1px;}
ul.m-list li:last-child{border-bottom:none;}
ul.m-list li .title{height:2em;line-height:2em;}
ul.m-list li .title h4{float:left;font-size:1.2em;font-weight:normal;}
ul.m-list li .title .w-star{float:right;margin-top:0.5em;margin-left:1em;}
ul.m-list li .title .date{float:right;color:#999;}
ul.m-list li p.cmt{line-height:2em;}

.m-zw{padding:1em;}
.m-zw p{font-size:1.2em;line-height:1.5em;color:#7c7c7c}
.m-main .header h2{font-size:1.5em;line-height:1.5em;color:#333;}
.m-main .header h2 span{display:block;float:left;width:4px;height:1em;margin:0.3em 8px 0 0;background-color:#a9a9a9;}
.m-main .header .time{color:#b9b9b9;font-size:1.2em;}

.m-zw .inner ul li{float:left;display:block;overflow:hidden;width:272px;height:216px;margin:0 10px 10px 0;}
.img-c{overflow:hidden;}

.m-main .more{text-align:center;height:2em;line-height:2em;}
.m-main .more a{color:#666;font-size:1.2em;}
.m-main .more a.disable{color:#ccc;}

.m-bottom{padding:1em 1em 3em 1em;border-top:#e3e3e3 solid 1px;}
.m-bottom p{font-size:1.2em;line-height:1.5em;}
.m-bottom p a{color:#d24130;text-decoration:underline;}
.m-bottom .godown{padding-left:20px;background-position:0px -94px;}

.m-banner{position:fixed;left:0;bottom:0;width:100%;height:50px;background-color:#000;opacity: 0.7;}
.m-banner p{text-align:center;line-height:50px;}
.m-banner a.down{padding:5px 10px 5px 30px;font-size:18px;color:#fff;background-position:0px 7px;}
.m-banner a.an-down{padding:5px 10px;font-size:14px;color:#fff;}
.m-banner a.closeit{display:block;width:28px;height:25px;float:right;margin:15px 10px 0 0;background-position:0px -50px;}
/* 星等级 */
.w-star,.w-star span{height:17px;overflow:hidden;}
.w-star{display:block;width:95px;height:20px;cursor:default;}
.w-star span{float:left;width:20px;margin:0 0 0 -1px;background-position:1px 0;}
.w-star span.no{background-position:-23px 0;}
.w-star1{width:75px;}
.w-star1,.w-star1 span{height:12px;}
.w-star1 span{width:16px;background-position:0 -550px;}
.w-star1 span.no{background-position:-18px -550px;}

/* 功能(function)(.f-) */
.f-dn{display:none;}
.f-db1{border:#dedede solid 1px;background-color:#f4f4f4;box-shadow:1px 1px 2px #969696;}
.f-db2{border:#dedede solid 1px;background-color:#f4f4f4;box-shadow:1px 1px 2px #aaa;}

@media only screen and (max-device-width: 480px){
	body{font: 14px/1.5 Tahoma,simsun,arial,宋体;}
	.m-topsec .info{width:170px;}
	ul.m-list li .title h4{max-width:5em;overflow:hidden;}
	.m-topsec .b-img,.m-topsec .b-img img{width:100px;height:140px;}
	.m-tinfo colgroup col.c1{width:80px;}
	.m-zw .inner img{max-width:290px;}
}

@media only screen and (max-device-width: 640px){
	body{font: 16px/1.5 Tahoma,simsun,arial,宋体;}
	.m-topsec .info{width:170px;}
	ul.m-list li .title h4{max-width:5em;overflow:hidden;}
	.m-topsec .b-img,.m-topsec .b-img img{width:100px;height:140px;}
	.m-tinfo colgroup col.c1{width:80px;}
	.m-zw .inner img{max-width:290px;}
}

